* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(BLUE.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    
    
    
}

h1 {
    font-size: 60px;
    height: 60%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Henny Penny', cursive;
    text-shadow: 1px 1px 2px black, 0 0 10px rgb(6, 6, 170), 0 0 5px darkblue;
}

h2 {
    height: 45%;
    color: rgb(254, 254, 254);
    margin-top: -150px;
    text-align: center;
    font-family:'Henny Penny', cursive;
    font-size: 22px;
    padding-top: 1px;
    text-shadow: 1px 1px 2px black, 0 0 5px rgb(6, 6, 170), 0 0 5px darkblue;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
    padding: 10px 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 23px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 83%;
    transition: all ease-in 50ms;
    background-color: rgb(153, 147, 230);
    color: rgb(6, 5, 5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 10px 30px 0 rgba(0,0,0,0.19);
   
    
}

button:hover {
    background-color: rgb(73, 60, 160);
    color: offwhite; 
}


#myTextArea {
    border: 2px solid rgb(90, 100, 189);
    border-radius: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: center;
    text-align: center;
    color: white;
}

div {
    height: 45%;
}



#message {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px black, 0 0 2px blue, 0 0 2px darkblue;
}

.message-history {
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 3.5s; 
    animation-duration: 4s;
}



.inputbox {
    margin-top: 200px;
}

footer {
    color: rgb(102, 102, 138);
    text-align: right;
    padding-top: 0em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.fadeinout {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    
    opacity: 0;
 
    transition: opacity ease 5s; 
  }
  
  /* Add a class that set opacity to 1 which we'll toggle using javascript */
  .visible {
    opacity: 1;
  }

@media screen and (max-width: 600px){
/* For mobile phones 6/7/8: */
    h1 {font-size: 30px;}
    h2 {font-size: 1em;}
    #message {font-size: 15px;}
    #message {padding-top: 4em;}
    body {position: center;}
    .inputbox {margin-top: 135px;}
    #myTextArea {box-sizing: border-box;}
    body {background-position:center, center;}
    button {width: 40%;}
    style {width: height 30%;}
}
 


